<%= simple_form_for contract, html: {class:"border border-dark  rounded p-3"} do |f| %>
    <div class="d-flex justify-content-between align-items-baseline">
      <%= f.input :name, label: false, required: true, input_html: { class: 'form-control',placeholder:"Gargamel" } %>
      <%= f.input :location, label: false, required: true, input_html: { class: 'form-control',placeholder:"The Dark Forest" } %>
    </div>
  <div class="form-group">
    <%= f.input :avatar_url, required: true, label: 'Avatar URL', input_html: { class: 'form-control' } %>
  </div>
  <div class="d-flex justify-content-between align-items-baseline ">
    <div class="form-group col-md-6">
      <%= f.input :killed, label: 'Killed', as: :boolean, input_html: { class: 'form-check-input' } %>
    </div>
    <div class="form-group col-md-6 d-flex align-items-end">
      <%= link_to contracts_path do %>
      <div class="btn btn-primary me-3">
        X
      </div>
      <% end %>
      <%= button_tag type: :submit, class: 'btn btn-danger' do %>
        <i class="fa-solid fa-crosshairs ms-2 me-2 text-white"></i>
      <% end %>
    </div>
  </div>
<% end %>
